<!DOCTYPE html>
<html lang="en">
    <h1>
        {{ news.title }}
    </h1>
    <p>
        {{ news.content }}
    </p>
    <p>
        Дата публикации: {{ news.pub_date }}
    </p>
    <p>
        Дата изменения: {{ news.edit_date }}
    </p>
    <hr>
    <h2>
        Комментарии
    </h2>
    <ul>
    {% for comment in comments %}
        <li>
            {% if comment.user_name in user.username%}
                {{ comment.user_name }}: {{ comment.comment }}<br>
            {% else %}
                {{ comment.user_name }} (аноним): {{ comment.comment }}<br>
            {% endif %}
            Дата публикации: {{ comment.pub_date }}
        </li>
        <br>
    {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
        <form action="{% url 'news_detail' news.pk %}" method="post">
            {% csrf_token %}
            <label for="user_name">
                Автор: '{{ request.user.username }}'
            </label>
            <label for="comment">
                Комментарий:
            </label>
            <textarea name="comment" id="comment"></textarea>
            <input type="submit" value="Комментировать">
        </form>
    {% else %}
        <form action="{% url 'news_detail' news.pk %}" method="post">
            {% csrf_token %}
            <label for="user_name">
                Автор: 
            </label>
            <input type="text" name="user_name" id="user_name">
            <label for="comment">
                Комментарий:
            </label>
            <textarea name="comment" id="comment"></textarea>
            <input type="submit" value="Комментировать">
        </form>
    {% endif %}
</html>
