<!DOCTYPE html>
<html lang="en">
    <h1>{{ news.title }}</h1>
    <p>{{ news.content }}</p>
    <hr>
    <h2>Комментарии</h2>
    <ul>
    {% for comment in comments %}
        <li>{{ comment.user_name }}: {{ comment.coment }}</li>
    {% endfor %}
    </ul>
    <form action="{% url 'news_detail' news.pk %}" method="post">
        {% csrf_token %}
        <label for="user_name">Автор:</label>
        <input type="text" name="author" id="user_name">
        <label for="comment">Комментарий:</label>
        <textarea name="comment" id="comment"></textarea>
        <input type="submit" value="Комментировать">
    </form>
</html>
