<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h2>
            Добро пожаловать на сайт, {{ request.user.username }}
        </h2>
        <p>
            Дата рождения: {{ request.user.birthday }}
        </p>
        <p>
            Город проживания: {{ request.user.city }}
        </p>
        <p>
            Номер телефона: {{ request.user.phone }}
        </p>
        <a href="{% url 'logout_user' %}">
            Выйти из системы
        </a>
    {% else %}
        <h3>
            Вы не авторизованны на нашем сайте.
        </h3>
        <a href="{% url 'login_user' %}">
            Войти
        </a>
    {% endif %}
</body>
</html>
